<!--
<%= form_tag("/courses/results", :method => "get") do %>
  <%= label_tag(:dept, "Department:") %>
  <%= text_field_tag(:dept) %>
  <%= label_tag(:course_num, "Course Number:") %>
  <%= text_field_tag(:course_num) %>
  <br>
  <br>
  <%= submit_tag("Submit") %>
-->

<center>
	</br></br></br></br></br></br></br></br></br></br>
	<div id="hometitle">bSchedule</div>
		<form class="center" action = "/courses/results" method = "get">
			  <input id="dept_num" class="input-xlarge search-query" name="course" type="text" placeholder = "ex: bio eng 144, cs 188, psych166ac" class="search-query span3">
		</form>
	<% end %>
</center>