<h1>Search</h1>

<%= form_tag("/courses/results", :method => "get") do %>
  <%= label_tag(:dept, "Department:") %>
  <%= text_field_tag(:dept) %>
  <%= label_tag(:course_num, "Course Number:") %>
  <%= text_field_tag(:course_num) %>
  <%= submit_tag("Search") %>
<% end %>