.row
	.span11.offset1
		%center #{link_to @course, @url}

- if @lectures == []
	.row
		.span11.offset08
			%p No classes match your request. 
			%p Please note that this is a Spring 2013 search. Click the link above for more details

- else
	- @lectures.each do |lecture|
		- lec = @info[lecture[0]]
		.row
			.span3.offset1
				- title_words = lec[:course].split
				%h4= title_words[0, title_words.length-3].join(' ')
				%h5= lec[:title]
				%p=  lec[:instructor]
				%p=  'Units: ' + lec[:units]
			.span8
				%table
					%tbody
						%tr
							%th= 'Section'
							%th= 'Time'
							%th= 'Location'
							%th= 'CCN'
							%th= 'Enrolled'
							%th= 'Waitlist'
							- lecture.each do |section|
								- sec = @info[section]
								%tr
									%td= sec[:course].split[-2,2].join(' ')
									%td= sec[:time]
									%td= sec[:place]
									%td= sec[:ccn]
									%td= sec[:enrolled]
									%td= sec[:waitlist]
		- if lecture != @lectures.last
			.row
				%hr
	%br
	%br
	%br