.row
	.span12
		%center{:id => 'searchlink'} #{link_to @course, @url}

- if @lectures == []
	.row
		.span11.offset1
			%p No classes match your request. 
			%p Please note that this is a Spring 2013 search. Click the link above for more details

- else
	- @lectures.each do |lecture|
		- lec = @info[lecture[0]]
		.row
			.span3.offset1
				%h4= lec[:course].split[0...-3].join(' ')
				%h5= lec[:title]
				%p=  lec[:instructor]
				%p=  'Units: ' + lec[:units]
			.span8
				%table
					%tbody
						%tr
							%th{:class => 'section'}= 'Section'
							%th{:class => 'time'}= 'Time'
							%th{:class => 'place'}= 'Location'
							%th{:class => 'ccn'}= 'CCN'
							%th{:class => 'enrolled'}= 'Enrolled'
							%th{:class => 'waitlist'}= 'Waitlist'
							- lecture.each do |section|
								- sec = @info[section]
								%tr{:class => sec[:open] ? 'open' : 'closed'}
									%td= sec[:course].split[-2,2].join(' ')
									%td= sec[:time]
									%td= sec[:place]
									%td= sec[:ccn]
									%td= sec[:enrolled]
									%td= sec[:waitlist]
		- if lecture != @lectures.last
			.row
				%hr
	%br
	%br
	%br