<!DOCTYPE html>
<html>
<head>
  <title>bschedule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class = "row-fluid">
    <%= render 'layouts/header' %>
</div>


<body>

<%= yield %>

</body>
</html>
